@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* #region  /**=========== Primary Color =========== */
  --tw-color-primary-50: 255 241 242;
  --tw-color-primary-100: 255 228 230;
  --tw-color-primary-200: 254 205 211;
  --tw-color-primary-300: 253 164 175;
  --tw-color-primary-400: 251 113 133;
  --tw-color-primary-500: 245 81 109;
  --tw-color-primary-600: 225 29 72;
  --tw-color-primary-700: 217 23 64;
  --tw-color-primary-800: 184 20 56;
  --tw-color-primary-900: 136 19 55;
  --color-primary-50: rgb(var(--tw-color-primary-50)); /* #fff1f2 */
  --color-primary-100: rgb(var(--tw-color-primary-100)); /* #ffe4e6 */
  --color-primary-200: rgb(var(--tw-color-primary-200)); /* #fecdd3 */
  --color-primary-300: rgb(var(--tw-color-primary-300)); /* #fda4af */
  --color-primary-400: rgb(var(--tw-color-primary-400)); /* #fb7185 */
  --color-primary-500: rgb(var(--tw-color-primary-500)); /* #f43f5e */
  --color-primary-600: rgb(var(--tw-color-primary-600)); /* #e11d48 */
  --color-primary-700: rgb(var(--tw-color-primary-700)); /* #be123c */
  --color-primary-800: rgb(var(--tw-color-primary-800)); /* #9f1239 */
  --color-primary-900: rgb(var(--tw-color-primary-900)); /* #881337 */
  /* #endregion  /**======== Primary Color =========== */

  -webkit-tap-highlight-color: transparent;
  color-scheme: light dark;
}

@layer base {
  h1 {
    @apply text-2xl font-bold md:text-3xl;
  }

  h2 {
    @apply text-lg font-semibold md:text-xl;
  }

  .body-width {
    @apply mx-auto w-11/12 max-w-[63rem];
  }

  .nav-footer-width {
    @apply mx-auto w-full max-w-[70rem];
  }

  body,
  p {
    @apply text-gray-800 dark:text-gray-300;
  }
}

@layer components {
  *:is(h2, h3, h4, h5, h6) {
    @apply scroll-mt-16;
  }
}

/* #region  /**=========== PhotoSwipe =========== */
.pswp__lightbox-caption {
  @apply absolute bottom-[12px] pt-3 pb-3 left-1/2 text-sm md:text-base z-10 flex w-11/12 -translate-x-1/2 justify-center rounded-2xl bg-neutral-800/90 px-4 py-2 text-left text-gray-100 sm:text-center lg:w-8/12;
}

.pswp__lightbox-caption a {
  @apply underline;
}

.lightbox-caption-title-date {
  @apply mb-1 inline-flex min-w-fit space-x-4;
}

.lightbox-caption-title {
  @apply min-w-fit font-medium;
}

.lightbox-caption-date {
  @apply text-gray-300;
}

.lightbox-caption-description {
  @apply text-left text-gray-200 sm:text-justify;
}
/* #endregion  /**=========== PhotoSwipe =========== */

/* #region  /**=========== Tocbot =========== */
.toc-link {
  @apply text-gray-500 font-normal dark:text-gray-400 no-underline hover:text-gray-700 dark:hover:text-gray-200;
}

.toc-link:hover,
.toc-link.is-active-link {
  @apply font-medium text-gray-900 dark:text-gray-100;
}

.toc {
  @apply -ml-2.5;
}

.toc-list {
  @apply list-none pl-1.5;
}

.toc-list-item {
  @apply -mt-1.5;
}
/* #endregion  /**=========== Tocbot =========== */

/* #region  /**=========== rehypeAutolinkHeadings =========== */
.prose .anchor {
  @apply absolute invisible no-underline cursor-pointer scroll-mt-36;
  margin-left: -1em;
  padding-right: 0.5em;
  width: 80%;
  max-width: 700px;
}

.prose .anchor:after {
  @apply text-gray-400 dark:text-gray-600 scroll-mt-36;
  content: '#';
}

.prose *:hover > .anchor {
  @apply visible scroll-mt-36;
}
/* #region  /**=========== rehypeAutolinkHeadings =========== */
