@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* #region  /**=========== Primary Color =========== */
  --tw-color-primary-50: 255 241 242;
  --tw-color-primary-100: 255 228 230;
  --tw-color-primary-200: 254 205 211;
  --tw-color-primary-300: 253 164 175;
  --tw-color-primary-400: 251 113 133;
  --tw-color-primary-500: 244 63 94;
  --tw-color-primary-600: 225 29 72;
  --tw-color-primary-700: 190 18 60;
  --tw-color-primary-800: 159 18 57;
  --tw-color-primary-900: 136 19 55;
  --color-primary-50: rgb(var(--tw-color-primary-50)); /* #fff1f2 */
  --color-primary-100: rgb(var(--tw-color-primary-100)); /* #ffe4e6 */
  --color-primary-200: rgb(var(--tw-color-primary-200)); /* #fecdd3 */
  --color-primary-300: rgb(var(--tw-color-primary-300)); /* #fda4af */
  --color-primary-400: rgb(var(--tw-color-primary-400)); /* #fb7185 */
  --color-primary-500: rgb(var(--tw-color-primary-500)); /* #f43f5e */
  --color-primary-600: rgb(var(--tw-color-primary-600)); /* #e11d48 */
  --color-primary-700: rgb(var(--tw-color-primary-700)); /* #be123c */
  --color-primary-800: rgb(var(--tw-color-primary-800)); /* #9f1239 */
  --color-primary-900: rgb(var(--tw-color-primary-900)); /* #881337 */
  /* #endregion  /**======== Primary Color =========== */

  -webkit-tap-highlight-color: transparent;
  color-scheme: light dark;
}

@layer base {
  /* #region  /**=========== Typography =========== */
  .h0 {
    @apply text-3xl font-bold md:text-5xl;
  }

  h1,
  .h1 {
    @apply text-2xl font-bold md:text-4xl;
  }

  h2,
  .h2 {
    @apply text-xl font-bold md:text-3xl;
  }

  h3,
  .h3 {
    @apply text-lg font-bold md:text-2xl;
  }

  h4,
  .h4 {
    @apply text-base font-bold md:text-lg;
  }

  body,
  .p {
    @apply text-sm sm:text-base;
  }
  /* #endregion  /**======== Typography =========== */

  .body-width {
    @apply mx-auto w-11/12 max-w-[69.5rem];
  }

  .nav-footer-width {
    @apply mx-auto w-full max-w-[74rem];
  }
}

/* #region  /**=========== PhotoSwipe =========== */
.pswp__lightbox-caption {
  @apply absolute bottom-[12px] left-1/2 z-10 flex w-11/12 -translate-x-1/2 items-center justify-center rounded-2xl bg-neutral-800/90 px-4 py-2 text-left text-gray-100 sm:text-center md:w-8/12 lg:w-7/12;
}

.pswp__lightbox-caption a {
  @apply hover:border-primary-500 border-b-2 border-dotted border-gray-200 hover:border-solid;
}

.lightbox-caption-title-date {
  @apply inline-flex min-w-fit items-center justify-center space-x-4 text-center;
}

.lightbox-caption-title {
  @apply min-w-fit font-medium;
}

.lightbox-caption-date {
  @apply text-gray-300;
}

.lightbox-caption-description {
  @apply mx-auto items-center justify-center text-left text-gray-200 sm:text-justify;
}
/* #endregion  /**=========== PhotoSwipe =========== */

/* #region  /**=========== Tocbot =========== */
.toc-link {
  @apply text-gray-400 font-normal dark:text-gray-500 no-underline hover:text-gray-700 dark:hover:text-gray-200;
}

.toc-link:hover,
.toc-link.is-active-link {
  @apply font-medium text-gray-900 dark:text-gray-100;
}

.toc {
  @apply -ml-3.5;
}

.toc-list {
  @apply list-none pl-2.5;
}

.toc-list-item {
  @apply -mt-1.5;
}

/* #endregion  /**=========== Tocbot =========== */
